@import url('https://fonts.googleapis.com/css2?family=Antonio:wght@100..700&family=Barlow:wght@400;600;700&display=swap');
* {
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
}

html,
body {
    width: 100%;
    height: 100%;
}

body {
    font-size: 12px;
    text-align: center;
    background-image: url("https://i.pinimg.com/originals/eb/34/3c/eb343c64359a7aa736cfe5fe1f88c064.jpg");
}

header {
    background-image: url("./assets/Images/cover.jpg");
    background-position: 50% 30%;
    background-size: cover; 
    width: 100%;
    height: 40vh;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    text-align: center;
    align-content: center;
    border-bottom: 3px white solid;
}

.nav {
    width: 100vw;
    height: 7vh;
    background-color: black;
    color: aliceblue;
}

.logo {
    padding-inline: 20px;
    font-size:2rem;
    font-weight: 900;
    text-shadow: gray solid 1rem;
}

#header-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    align-content: center;
    align-items: center;
}

h1 {
    display: flex;
    flex-shrink: 1;
    flex-direction: column;
    justify-content: center;
    color: aliceblue;
    background-color: rgba(0, 0, 0, 0.412);
    font-family: Antonio,sans-serif;
    font-weight: bolder;
    font-size: 2rem;
    text-align: center;
}

main {
    margin-top: 20px;
}

footer {
    display: flex;
    justify-content: center;
}

#calcola-txt {
    font-size: 2rem;
}

@media (min-width: 600px) {

    /* Styles for tablets and desktops */
    body {
        font-size: 18px;
        /* Other tablet/desktop specific styles */
    }
}

/* Media query for screens larger than 900px (large desktops) */
@media (min-width: 900px) {

    /* Styles for large desktops */
    body {
        font-size: 20px;
        /* Other large desktop specific styles */
    }
}

.card {
    margin-bottom: 2%;
}

.card img:hover {
    filter: contrast(125%), saturate(120%);
}

.form-group {
    margin-bottom: 5px;
}